@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

*{
    font-family: 'Pangolin', cursive;
}

h3{
    display: flex;
    justify-content: center;
}

h1{
    display: flex;
    justify-content: center;
    padding-top: 50px;
};

div{
    display: flex;
}

.inputBox{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.selectSec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    font-weight: bolder;
};



